<app-map (location)="getAddress($event)" [lat]="-0.180653" [lng]="-78.467834" [isEditing]="true"></app-map>
<div class="container">
    <form *ngIf="getAdrs().getLatitude()">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="txtPais">País</label>
                    <input type="text" class="form-control" id="txtPais" placeholder=""
                        value="{{getAdrs().getCountry()}}" readonly>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="txtProvincia">Provincia</label>
                    <input type="text" class="form-control" id="txtProvincia" placeholder=""
                        value="{{getAdrs().getState()}}" readonly>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="txtCiudad">Ciudad</label>
                    <input type="text" class="form-control" id="txtCiudad" placeholder=""
                        value="{{getAdrs().getCity()}}" readonly>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="txtVecindario">Vecindario</label>
                    <input type="text" class="form-control" id="txtVecindario" placeholder=""
                        value="{{getAdrs().getNeighbourhood()}}" readonly>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="txtCalle">Calle</label>
                    <input type="text" class="form-control" id="txtCalle" placeholder="" value="{{getAdrs().getRoad()}}"
                        readonly>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="txtSuburbio">Suburbio</label>
                    <input type="text" class="form-control" id="txtSuburbio" placeholder=""
                        value="{{getAdrs().getSuburb()}}" readonly>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="txtLatitud">Latitud</label>
                    <input type="text" class="form-control" id="txtLatitud" placeholder=""
                        value="{{getAdrs().getLatitude()}}" readonly>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="txtLongitud">Longitud</label>
                    <input type="text" class="form-control" id="txtLongitud" placeholder=""
                        value="{{getAdrs().getLongitude()}}" readonly>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="txtCodigo">Codigo Postal</label>
                    <input type="text" class="form-control" id="txtCodigo" placeholder=""
                        value="{{getAdrs().getPostcode()}}" readonly>
                </div>
            </div>
        </div>
    </form>
</div>